<p>Метод <code>addCustomField()</code> используется вместе с атрибутом <code>custom="true"</code> элемента
    <code>field</code> и позволяет задать собственное представление поля. Он принимает два параметра: идентификатор
    поля, заданный в атрибуте<code>id</code> элемента <code>field</code>, и реализацию интерфейса <code>FieldGroup.CustomFieldGenerator</code>.
</p>
<p>Метод <code>generateField()</code> интерфейса <code>CustomFieldGenerator</code> вызывается компонентом <code>FieldGroup</code>,
    и в него передается <a href="https://doc.cuba-platform.com/manual-7.0-ru/datasources.html" target="_blank">источник
        данных</a> и идентификатор поля, для которого зарегистрирован данный генератор. Метод должен вернуть визуальный
    компонент (или контейнер), который и будет отображен в поле.</p>

<p>В данном примере мы создали компонент <code>LookupField</code> с двумя возможными значениями и использовали его для
    редактирования булевского атрибута сущности.</p>