<p><code>LookupField</code> can be used to select an instance of a related entity.
    The <code>optionsDatasource</code> attribute is used to specify a datasource containing a list of related entity
    instances.</p>

<p>In this example, <code>LookupField</code> edits the <code>customer</code> attribute of the <code>Order</code> entity
    which is contained in the <code>orderDs</code> datasource. The <code>customersDs</code> contains a list of
    <code>Customer</code> instances, which is used as a list of options.</p>