<p><code>LookupField</code> можно использовать для выбора экземпляра связанной сущности. Атрибут
    <code>optionsContainer</code> задает источник данных, содержащий список экземпляров связанной сущности.</p>

<p>В данном примере <code>LookupField</code> редактирует значение атрибута <code>customer</code> сущности
    <code>Order</code>, находящейся в источнике данных <code>orderDc</code>. В качестве списка опций используется список
    экземпляров сущности <code>Customer</code>, находящийся в источнике данных <code>customersDc</code>.</p>