<p>Значение <code>true</code> атрибута <code>simple</code> позволяет убрать компонент выбора, оставляя только кнопку
    добавления. При нажатии на кнопку добавления сразу показывается экран списка экземпляров сущности, тип которой задан
    источником данных <code>datasource</code>. Идентификатор экрана выбора определяется по правилам, описанным для <a
            href="https://doc.cuba-platform.com/manual-7.2-ru/std_picker_actions.html" target="_blank">стандартного
        действия</a> <code>PickerField.LookupAction</code>.</p>

<p>Если значение атрибута <code>multiselect</code> установлено в <code>true</code>, то в мэп параметров экрана выбора в
    ключе <code>MULTI_SELECT</code> передается значение <code>true</code>. В данном примере этот признак используется
    для установки в таблице режима множественного выбора.</p>