<p>A button can contain a caption, an icon, or both.</p>

<p>The <code>icon</code> attribute defines an icon location. Detailed information on recommended icon placement is
    available <a href="https://doc.cuba-platform.com/manual-6.8/web_theme_usage.html" target="_blank">here</a>.</p>

<p>A tooltip can be set using the <code>description</code> attribute.</p>

<p>A controller method that should be called when a user presses the button is specified in the
    <code>invoke</code> attribute. If the method has a parameter of type <code>Component</code>, a button instance will
    be passed to the method.</p>