<p>The <code>Tree</code> component is intended to display hierarchical structures represented by entities referencing
    themselves.</p>

<p>For the <code>Tree</code> component, the <code>datasource</code> attribute of the <code>treechildren</code> element
    should contain a reference to a <code>hierarchicalDatasource</code>. Declaration of a
    <code>hierarchicalDatasource</code> should contains <code>hierarchyProperty</code> attribute - the name of the
    entity attribute which references the same entity.</p>
