<p>Компонент <code>Table</code> реализует интерфейс <code>ActionsHolder</code> и может содержать как кастомные действия,
    так и <a href="https://doc.cuba-platform.com/manual-7.0-ru/std_list_actions.html" target="_blank">стандартные</a>,
    определенные в перечислении <code>ListActionType</code>.</p>

<p>Если действие имеет заголовок, оно отображается в контестном меню таблицы. Кроме того, действия таблицы могут быть
    назначены кнопкам, расположенным в любом месте экрана.</p>

<p>С помощью XML элемента <code>buttonsPanel</code> таблице можно добавить контейнер <a
        href="https://doc.cuba-platform.com/manual-7.0-ru/gui_ButtonsPanel.html" target="_blank">ButtonsPanel</a>
    для отображения кнопок вверху таблицы.</p>