<p>Атрибут <code>editable</code> позволяет перевести таблицу в режим in-place редактирования ячеек. В этом режиме в
    колонках, имеющих атрибут <code>editable = true</code>, отображаются компоненты для редактирования значений
    атрибутов сущности, находящейся в источнике данных.</p>

<p>Тип компонента для каждой редактируемой колонки выбирается автоматически на основании типа атрибута сущности.
    Например, для строковых и числовых атрибутов используется <a
            href="https://doc.cuba-platform.com/manual-6.9-ru/gui_TextField.html" target="_blank">TextField</a>,
    для <code>Date</code> - <a href="https://doc.cuba-platform.com/manual-6.9-ru/gui_DateField.html"
                               target="_blank">DateField</a>, для перечислений - <a
            href="https://doc.cuba-platform.com/manual-6.9-ru/gui_LookupField.html" target="_blank">LookupField</a>,
    для ссылок на другие сущности - <a
            href="https://doc.cuba-platform.com/manual-6.9-ru/gui_PickerField.html" target="_blank">PickerField</a>
    (или <code>LookupField</code>, если для колонку указан также атрибут <code>optionsDatasource</code>).
</p>

<p>Для редактируемой колонки типа <code>Date</code> можно дополнительно указать атрибуты <code>dateFormat</code> или
    <code>resolution</code> аналогично описанным для <a href="open?screen=format-datefield">DateField</a>.
</p>
