<p>You can use <code>editable</code> attribute to switch the table to in-place editing mode. In this mode, the
    columns with <code>editable="true"</code> attribute show components to edit the attributes of the corresponding
    entity.</p>

<p>The component type for each editable column is selected automatically based on the type of the corresponding entity
    attribute. For example, for string and numeric attributes, the application will use <a
            href="https://doc.cuba-platform.com/manual-6.8/gui_TextField.html" target="_blank">TextField</a>,
    for <code>Date</code> - <a href="https://doc.cuba-platform.com/manual-6.8/gui_DateField.html"
                               target="_blank">DateField</a>, for enumerations - <a
            href="https://doc.cuba-platform.com/manual-6.8/gui_LookupField.html" target="_blank">LookupField</a>,
    for links to other entities - <a
            href="https://doc.cuba-platform.com/manual-6.8/gui_PickerField.html" target="_blank">PickerField</a>
    (or <code>LookupField</code>, if <code>optionsDatasource</code> is additionally specified for the column). For a
    <code>Date</code> type editable column, you can additionally define <code>dateFormat</code> or
    <code>resolution</code> attributes similar to the ones described for the <a
            href="open?screen=format-datefield">DateField</a>.
</p>
