<p><code>Embedded</code> component is intended for displaying images and embedding optional web pages into the
    screen.</p>
<p>Сomponent can be used to display an image from a file located in <a
        href="https://doc.cuba-platform.com/manual-6.9/file_storage.html" target="_blank">FileStorage</a>.</p>
<p>Web Client allows image output from any files available to the Web Client block. Define the resource files directory
    in <a href="https://doc.cuba-platform.com/manual-6.9/app_properties_reference.html#cuba.web.resourcesRoot"
               target="_blank">cuba.web.resourcesRoot</a> application property, and specify the name of the file
    inside this directory for the <code>Embedded</code>component.</p>