<p>Компонент <code>Embedded</code> предназначен для вывода изображений и встраивания в экран произвольных
    веб-страниц.</p>
<p>Компонент можно использовать для вывода изображения из файла, сохраненного в <a
        href="https://doc.cuba-platform.com/manual-6.9-ru/file_storage.html" target="_blank">FileStorage</a>.</p>
<p>Веб-клиент позволяет выводить изображения из произвольных файлов на диске, доступных блоку Web Client. Для этого
    нужно определить каталог ресурсных файлов в свойстве приложения <a
            href="https://doc.cuba-platform.com/manual-6.9-ru/app_properties_reference.html#cuba.web.resourcesRoot"
            target="_blank">cuba.web.resourcesRoot</a>, и указать для компонента <code>Embedded</code> имя
    файла внутри этого каталога.</p>