<p><code>LookupField</code> - компонент для выбора значения из выпадающего списка. Выпадающий список реализует фильтрацию 
    значений по мере ввода пользователя и постраничный вывод доступных значений.</p>

<p>В данном примере <code>LookupField</code> позволяет выбрать значение перечисления (<code>enum</code>) для
    атрибута сущности.</p>
<hr />
<p>См. также: <a href="open?screen=simple-lookuppickerfield">LookupPickerField</a> | <a href="open?screen=simple-searchpickerfield">SearchPickerField</a></p>