<p>For <code>PickerField</code>, you can define an arbitrary number of
    <a href="https://doc.cuba-platform.com/manual-7.0/gui_Action.html" target="_blank">actions</a>,
    displayed as buttons on the right. It can be done either in the XML descriptor using the <code>actions</code> nested
    element, or programmatically in the controller using <code>addAction()</code>.</p>

<p>In this example, we have defined three actions in XML:
    <a href="https://doc.cuba-platform.com/manual-7.0/std_picker_actions.html" target="_blank">standard</a>
    <code>lookup</code> and <code>open</code>, and custom <code>greeting</code>, invoking the <code>greet()</code> method.
    In the controller, we have added <code>showGrade</code> custom action and <code>clear</code> standard action with the
    redefined icon.</p>

<p>Some action parameters can be specified in XML. In this example, standard <code>open</code> action has
    <code>openType="DIALOG"</code> attribute, which forces an entity editor screen to open in a dialog window.</p>
