<p>Метод <code>getFieldComponent()</code> возвращает визуальный компонент, находящийся в поле с указанным идентификатором.
    Это может потребоваться для дополнительной параметризации компонента, недоступной через атрибуты XML-элемента
    <code>field</code>.</p>

<p>Вместо явного вызова <code>getFieldComponent()</code> для получения ссылки на компонент поля в контроллере экрана
    можно использовать инжекцию с аннотацией <code>@Named</code>, указав в ее значении идентификатор самого <code>fieldGroup</code>,
    и через точку - идентификатора поля.</p>

<p>В данном примере мы изменили набор действий компонента <code>PickerField</code>, который используется в
    <code>FieldGroup</code> для атрибута <code>customer</code>.</p>