<p>The Filter component enables quick data filtering by arbitrary conditions, as well as creating filters for repeated use.</p>

<p>In this example, the <b>Multiple Conditions</b> filter was created, made default and saved in the database. So it appears right after opening the screen.</p>

<p>You can add conditions to this filter, or reset it by selecting <b>Reset filter</b> in the drop-down menu next to the <b>Search</b> button and create a new filter. New conditions will not be saved for future use until you click <b>Save</b> or <b>Save as</b> in the settings drop-down menu on the right.</p>
