<p>Компонент Filter позволяет производить быструю фильтрацию данных по произвольному набору условий, а также создавать фильтры для многократного использования.</p>

<p>В данном примере фильтр <b>Multiple Conditions</b> был создан, установлен "по умолчанию" и сохранен в базе данных. Поэтому он появляется сразу после открытия экрана.</p>

<p>Вы можете добавить условия в этот фильтр, или сбросить его выбрав <b>Сбросить фильтр</b> в выпадающем меню рядом с кнопкой <b>Поиск</b> и создать новый фильтр. Новые условия можно сохранить для последующего использования нажав <b>Сохранить</b> или <b>Сохранить как</b> в выпадающем меню настроек справа.</p>
