<p><code>column</code> - необязательный элемент, позволяющий располагать поля в несколько колонок. Для этого элементы
    <code>field</code> должны находиться не непосредственно внутри <code>fieldGroup</code>, а внутри своего
    <code>column</code>.</p>
<p>Элемент <code>column</code> может иметь следующие атрибуты:</p>
<ul>
    <li>
        <p><code>width</code> - задает ширину полей данной колонки. По умолчанию ширина полей - <code>200px</code>. В
            данном атрибуте ширина может быть задана как в пикселах, так и в процентах от общего размера колонки по
            горизонтали.</p>
    </li>
    <li>
        <p><code>flex</code> - число, задающее степень изменения общего размера данной колонки по горизонтали
            относительно других колонок при изменении ширины всего компонента <code>fieldGroup</code>. Например, можно
            задать одной колонке<code>flex=1</code> а другой <code>flex=3</code>.</p>
    </li>
    <li>
        <p><code>id</code> - необязательный идентификатор колонки, позволяющий ссылаться на нее в случае <a
                href="https://doc.cuba-platform.com/manual-7.2-ru/screen_extension.html" target="_blank">расширения
            экрана</a>.</p>
    </li>
</ul>

<p>В данном примере <code>FieldGroup</code> занимает 50% ширины его родительского контейнера. Первая колонка занимает
    в два раза больше места чем вторая благодаря значениям атрибута <code>flex</code>. Каждое поле занимает 100% ширины
    колонки, к которой оно принадлежит.</p>