<p><code>frame</code> element is intended for including <a
        href="https://doc.cuba-platform.com/manual-7.0/frame.html" target="_blank">frames</a> into a
    screen.</p>

<p>Attributes:</p>

<ul>
    <li><code>src</code> - path to the frame XML-descriptor.</li>
    <li><code>screen</code> - frame identifier in <a
            href="https://doc.cuba-platform.com/manual-7.0/screens.xml.html" target="_blank">screens.xml</a>
        (if the frame is registered).
    </li>
</ul>

<p>In this example, the same frame (<a href="open?screen=simple-button">button example</a>) is included in the screen
    twice: one time via the frame identifier from the <code>screens.xml</code> file, and the second time via the path to
    the XML descriptor.</p>
