<p>A user can create custom conditions based on JPQL expressions by selecting <b>Create new...</b> in the <b>Add condition</b> dialog. Custom conditions can also be defined in the screen XML. Such predefined conditions are available to users in the <b>Custom conditions</b> group of the <b>Add condition</b> dialog.</p>

<p>In this example, the <b>Order items contain</b> condition allows a user to filter orders by a product contained in order lines. You can see the condition properties in the advanced filter editor available via the <b>Edit</b> settings menu item.</p>
