<p>Пользователи могут создавать условия на основе выражений JPQL, выбрав пункт <b>Создать новое...</b> диалога <b>Новое условие</b>. Кастомные условия также могут быть определены в XML экрана. Такие условия доступны пользователям в группе <b>Специальные условия</b> диалога <b>Новое условие</b>.</p>

<p>В данном примере условие <b>Order items contain</b> позволяет пользователю фильтровать заказы по продукту, содержащемуся в строке заказа. Свойства условия можно увидеть в расширенном редакторе фильтра, доступном через пункт <b>Редактировать</b> меню настроек фильтра.</p>
