<p>Отображение данных в колонках может быть изменено с помощью рендереров. Некоторые рендереры <code>DataGrid</code>
    задаются специальными XML-элементами с параметрами, определенными в соответствующих атрибутах. Рендереры могут быть
    объявлены также и для не генерируемых колонок.</p>

<p>Создавать рендереры можно двумя способами:</p>

<ul>
    <li>
        <p>через метод-фабрику интерфейса <code>DataGrid</code>, передавая в него интерфейс рендерера, для которого
            нужно создать имплементацию. Подходит для <strong>GUI</strong> и <strong>Web</strong> модулей.</p>
    </li>
    <li>
        <p>непосредственно создавая имплементацию рендерера для соответствующего модуля:</p>
        <p><code>dataGrid.createRenderer(DataGrid.ImageRenderer.class)</code> → <code>new WebImageRenderer()</code></p>
        <p>На данный момент этот способ реализован только для модуля <strong>Web</strong>.</p>
    </li>
</ul>

<p>Список рендереров, реализованных в платформе:</p>

<ul>
    <li>
        <code>ButtonRenderer</code> - рендерер, который использует строковое значение в качестве заголовка кнопки.
    </li>
    <li>
        <code>CheckBoxRenderer</code> - рендерер, который отображает булево значение в виде значков чек-бокса.
    </li>
    <li>
        <code>ClickableTextRenderer</code> - отображает простой текст в виде ссылки. Позволяет задать обработчик,
        который будет вызван после нажатия на ссылку.
    </li>
    <li>
        <code>ComponentRenderer</code> - рендерер для компонентов UI.
    </li>
    <li>
        <code>DateRenderer</code> - рендерер для отображения дат в заданном формате.
    </li>
    <li>
        <code>IconRenderer</code> - рендерер, который представляет <code>CubaIcon</code>.
    </li>
    <li>
        <code>ImageRenderer</code> - рендерер, который использует строковое значение в качестве пути до изображения.
    </li>
    <li>
        <code>HtmlRenderer</code> - рендерер для отображения HTML-разметки.
    </li>
    <li>
        <code>LocalDateRenderer</code> - рендерер для отображения дат как значений типа <code>LocalDate</code>.
    </li>
    <li>
        <code>LocalDateTimeRenderer</code> - рендерер для отображения дат как значений типа <code>LocalDateTime</code>.
    </li>
    <li>
        <code>NumberRenderer</code> - рендерер для отображения чисел в заданном формате.
    </li>
    <li>
        <code>ProgressBarRenderer</code> - рендерер, который отображает double-значения от 0 до 1 в виде компонента
        <code>ProgressBar</code>.
    </li>
    <li>
        <code>TextRenderer</code> - рендерер для отображения простого текста.
    </li>
</ul>