<p>The <code>SearchPickerField</code> component is used to search for entity instances according to the entered string.
    User should enter a few characters and press <strong>Enter</strong>. If several matches have been found all of
    them will be displayed in a drop-down list. If only one instance matches the search query it immediately becomes a
    component value. <code>SearchPickerField</code> allows also to perform actions by clicking on buttons on the right.
</p>

<p>To use <code>SearchPickerField</code> component, you need to create a <code>collectionDatasource</code>
    and specify a query, which contains corresponding search conditions. Condition must contain a parameter named <code>custom$searchString</code>.
    Component will pass a substring entered by the user after pressing <strong>Enter</strong>. A data source with a
    search condition should be defined in the <code>optionsDatasource</code> attribute of the component.</p>

<p><code>SearchPickerField</code> implements <a href="open?screen=simple-lookupfield">LookupField</a> and <a
        href="open?screen=simple-pickerfield">PickerField</a> interfaces. Thus, it inherits the same functionality
    except the default list of actions added when defining the component in XML: for <code>SearchPickerField</code>
    these are <code>lookup</code> and <code>open</code> actions.</p>

<p>In this example, try to input "jo" and press <strong>Enter</strong>. You will be presented with a list of names
    containing this substring. If you input "ka" end press <strong>Enter</strong>, the field will immediately get
    the "Katherine Potter" value because it is the only name that contains the entered string.</p>