<p>Компонент <code>SearchPickerField</code> служит для поиска экземпляров сущностей по вводимой пользователем строке.
    Пользователю достаточно ввести несколько символов и нажать клавишу <strong>Enter</strong>. Если поиск дал несколько
    совпадений, найденные значения отображаются в виде выпадающего списка. Если же критерию поиска соответствует только
    один экземпляр, он сразу становится значением компонента. <code>SearchPickerField</code> позволяет также выполнять
    действия нажатием на кнопки справа.</p>

<p>Для работы компонента <code>SearchPickerField</code> необходимо создать <code>collectionDatasource</code>,
    и задать в нем запрос, содержащий условия поиска. Условие обязательно должно содержать параметр с именем <code>custom$searchString</code>
    - именно в него компонент передает введенную пользователем подстроку при нажатии <strong>Enter</strong>. Источник
    данных с условием поиска должен быть указан в атрибуте <code>optionsDatasource</code> компонента.</p>

<p><code>SearchPickerField</code> реализует интерфейсы <a href="open?screen=simple-lookupfield">LookupField</a> и <a
        href="open?screen=simple-pickerfield">PickerField</a>, поэтому все описанное для этих интерфейсов в части работы
    с сущностями верно и для него. Исключением является список действий по умолчанию, добавляемых при определении
    компонента в XML: для <code>SearchPickerField</code> это действия <code>lookup</code> и <code>open</code>.</p>

<p>В данном примере попробуйте ввести в поле "jo" и нажать <strong>Enter</strong>. Поле отобразит список имен, содержащих
    эту подстроку. Если вы введете "ka" и нажмете <strong>Enter</strong>, поле сразу получит значение "Katherine Potter",
    потому что это единственное имя, содержащее данную подстроку.</p>