<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table style="width: 100%; height: 100%; color: #fff; padding: 20px; background: #1976D2 repeat-x;" cellspacing="10"
       align="center">
    <tbody>
    <tr>
        <td>
            <h1 style="margin-top: 0; padding: 10px; background: #2196F3;">Cart Info</h1>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 10px;" align="left">Some necessary information about orders.</td>
    </tr>
    <tr>
        <td style="padding-left: 10px;" align="left">Some necessary information about prices.</td>
    </tr>
    </tbody>
</table>
</body>
</html>