<p>Компонент <code>LookupPickerField</code> позволяет выбирать экземпляр сущности в выпадающем списке и выполнять действия
    нажатием на кнопки справа.</p>

<p><code>LookupPickerField</code> является по сути гибридом <a href="open?screen=simple-lookupfield">LookupField</a> и
    <a href="open?screen=simple-pickerfield">PickerField</a>, поэтому все описанное для этих компонентов верно и для него.
    Исключением является список действий по умолчанию, добавляемых при определении компонента в XML: для
    <code>LookupPickerField</code> это действия <code>lookup</code> и <code>open</code>.</p>

<p>В данном примере первое поле имеет действия по умолчанию, а второе - явно заданные <code>lookup</code> и
    <code>clear</code>.</p>