<p>The <code>LookupPickerField</code> component allows a user to select an entity instance from a drop-down list and
    perform actions by pressing buttons on the right.</p>

<p>In fact <code>LookupPickerField</code> is a hybrid of <a href="open?screen=simple-lookupfield">LookupField</a> and
    <a href="open?screen=simple-pickerfield">PickerField</a>. Thus it has the same features except the default list of
    actions added when determining the component in XML: for <code>LookupPickerField</code> these are <code>lookup</code>
    and <code>open</code>.</p>

<p>In this example, the first field has default actions, while the second one has <code>lookup</code>
    and <code>clear</code> actions specified explicitly.</p>