<p><code>Bulk Editor</code> - компонент, позволяющий менять значения атрибутов сразу нескольких выбранных
    экземпляров сущностей.</p>

<p>Компонент представляет собой кнопку, добавляющуюся к
    <a href="https://doc.cuba-platform.com/manual-7.0-ru/gui_Table.html" target="_blank">Table</a>,
    <a href="https://doc.cuba-platform.com/manual-7.0-ru/gui_DataGrid.html" target="_blank">DataGrid</a> или
    <a href="https://doc.cuba-platform.com/manual-7.0-ru/gui_Tree.html" target="_blank">Tree</a> и при нажатии
    открывающую редактор сущностей.</p>
