<p><code>Bulk Editor</code> - is a component that enables changing attribute values for several entity
    instances at once.</p>

<p>The component is a button, usually added to a
    <a href="https://doc.cuba-platform.com/manual-7.0/gui_Table.html" target="_blank">Table</a>,
    <a href="https://doc.cuba-platform.com/manual-7.0/gui_DataGrid.html" target="_blank">DataGrid</a> or a
    <a href="https://doc.cuba-platform.com/manual-7.0/gui_Tree.html" target="_blank">Tree</a>, which opens the entity
    bulk editor on click.</p>
