@mixin sample-all-icons {

  .name-label {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    cursor: text;
  }

  .source-label {
    text-align: center;
    font-size: 12px;
    cursor: text;
  }

  .sampler-scroll {
    height: inherit;
  }

  .sampler-scroll.v-slot {
    height: inherit;
  }

  .v-slot-sampler-scroll {
    height: inherit;
  }

  .vbox-icon:hover {
    background-color: #a3a3a3;
    color: #ffffff;

    .icon-label > span {
      color: #ffffff;
    }
  }
}